<div class="file-card">
  <div class="file-name">
    <%= file.file_orignal_name %>
  </div>

  <div class="file-meta">
    <span><%= file.size %> MB</span>
    <span><%= file.created_at %></span>
  </div>

  <div class="file-actions">
    <a href="/file/download-file/<%= file.id %>">Download</a>
    <a href="/file/delete-file?id=<%=file.id%>" class="danger">Delete</a>
  </div>
</div>