<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
    <title><%=folder.name%>></title>
  </head>

<body>
  <%- include('./partials/header')%>

  <div class="folder-page">
    <div class="folder-container">

      <div class="folder-header">
        <h1><%= folder.folder_name %></h1>

        <div class="folder-actions">
          <a href="/file/upload-file/<%= folder.id%>" class="primary">Upload</a>
          <a href="/folder/update-folder/<%= folder.id%>">Rename</a>
          <a href="/folder/delete-folder/<%= folder.id%>" class="danger">Delete</a>
        </div>
      </div>

      <div class="files-container">
        <% if (files.length === 0) { %>
          <p class="empty">No files yet. Upload something</p>
        <% } else { %>
          <% for (let file of files) { %>
            <%- include('./partials/single_item', { file: file }) %>
          <% } %>
        <% } %>
      </div>

    </div>
  </div>
</body>
</html>
